openapi: 3.2.0
info:
  title: Tekmetric Jobs API
  description: Tekmetric is a cloud-based auto repair shop management platform.
  version: v1
  contact:
    name: Tekmetric
    url: https://www.tekmetric.com/
  x-source-note: Endpoint shapes confirmed via github.com/beetlebugorg/tekmetric-mcp (pkg/tekmetric/*.go), an unofficial, independently maintained client, not an official Tekmetric-published specification.
servers:
- url: https://shop.tekmetric.com/api/v1
  description: Production
- url: https://sandbox.tekmetric.com/api/v1
  description: Sandbox
security:
- oauth2: []
tags:
- name: Jobs
  description: Individual services (labor and parts) within a repair order.
paths:
  /jobs:
    get:
      operationId: listJobs
      tags:
      - Jobs
      summary: List or filter jobs
      description: Lists the individual jobs (services) within repair orders, filterable by vehicle, repair order, customer, authorization state, or repair order status.
      parameters:
      - $ref: '#/components/parameters/Shop'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - name: vehicleId
        in: query
        required: false
        schema:
          type: integer
      - name: repairOrderId
        in: query
        required: false
        schema:
          type: integer
      - name: customerId
        in: query
        required: false
        schema:
          type: integer
      - name: authorized
        in: query
        required: false
        schema:
          type: boolean
      - name: repairOrderStatusId
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A page of jobs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobs/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getJob
      tags:
      - Jobs
      summary: Get a job
      description: Retrieves a single job with its labor lines, parts, and technician assignments by ID.
      responses:
        '200':
          description: The requested job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Page:
      type: object
      description: Spring Data Page envelope used by all list endpoints.
      properties:
        totalPages:
          type: integer
        totalElements:
          type: integer
        first:
          type: boolean
        last:
          type: boolean
        size:
          type: integer
        number:
          type: integer
        numberOfElements:
          type: integer
    Job:
      type: object
      properties:
        id:
          type: integer
        repairOrderId:
          type: integer
        vehicleId:
          type: integer
        customerId:
          type: integer
        name:
          type: string
        authorized:
          type: boolean
        repairOrderStatusId:
          type: integer
        laborTotal:
          $ref: '#/components/schemas/Currency'
        partsTotal:
          $ref: '#/components/schemas/Currency'
    Currency:
      type: number
      format: double
      description: Monetary value in dollars (Tekmetric stores cents internally).
    JobPage:
      allOf:
      - $ref: '#/components/schemas/Page'
      - type: object
        properties:
          content:
            type: array
            items:
              $ref: '#/components/schemas/Job'
  responses:
    Unauthorized:
      description: Missing, invalid, or revoked access token.
    NotFound:
      description: The requested resource was not found.
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page number.
      schema:
        type: integer
        default: 0
    Id:
      name: id
      in: path
      required: true
      description: The numeric ID of the resource.
      schema:
        type: integer
    Size:
      name: size
      in: query
      required: false
      description: Page size.
      schema:
        type: integer
        default: 20
    Shop:
      name: shop
      in: query
      required: false
      description: The shop ID to scope the request to.
      schema:
        type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials grant. Requires an approved Client ID/Secret issued by Tekmetric after a manual request-access review (reported at roughly 2-3 weeks).
      flows:
        clientCredentials:
          tokenUrl: https://shop.tekmetric.com/api/v1/oauth/token
          scopes: {}
